---
import { Image } from 'astro:assets';
import avila from '../assets/avila.avif';
import bobJones from '../assets/bob-jones.avif';
import firestone from '../assets/firestone.avif';
import jtBooBooRecords from '../assets/jt-boo-boos.avif';
import jtBooBooRecordsYoung from '../assets/jt-boo-boos-2.avif';
import jtMorro from '../assets/jt-morro.avif';
import jtTerraceHill from '../assets/jt-terrace-hill.avif';
import karlyBedas from '../assets/karly-bedas.avif';
import karlyBobJones from '../assets/karly-bob-jones.avif';
import karlyMorro from '../assets/karly-morro.avif';
import montanaDeOro from '../assets/montana-de-oro.avif';
import morro from '../assets/morro.avif';
import selfie from '../assets/selfie.avif';
import selfieHotelSlo from '../assets/selfie-hotel-slo.avif';
import selfieMorroBay from '../assets/selfie-morro.avif';

import '../styles/components/faqs.scss';

const faqs = [
  {
    question: "Is Karly pregnant?",
    answer: [
      "No, but thanks for asking!",
    ]
  },
  {
    question: "Why so soon then?",
    answer: [
      "A recent trip to San Luis Obispo sparked the idea of getting married there on our 10-year anniversary;<br/>a date and place that mean the world to us."
    ],
    images: [
    {
      src: jtBooBooRecords,
      alt: "JT digging through records at Boo Boo Records.",
      caption: "Boo Boo Records"
    },
    {
      src: morro,
      alt: "View of Morro Rock in Morro Bay.",
      caption: "Morro Rock"
    },
    {
      src: jtMorro,
      alt: "JT at Morro Bay.",
      caption: "Lunch in Morro Bay"
    },
    {
      src: selfieMorroBay,
      alt: "Negative contact sheet of photos a film roll taken in San Luis Obispo.",
      caption: "Morro Bay"
    },
    {
      src: avila,
      alt: "View of Avila Beach with Chamay beers in the foreground.",
      caption: "Avila Beach"
    },
    {
      src: selfieHotelSlo,
      alt: "Negative contact sheet of photos a film roll taken in San Luis Obispo.",
      caption: "Hotel SLO"
    },
    {
      src: karlyBedas,
      alt: "Karly at Beda's Biergarten.",
      caption: "Beda's Biergarten"
    },
    {
      src: montanaDeOro,
      alt: "View of Montana de Oro State Park.",
      caption: "Montaña de Oro State Park"
    },
    {
      src: selfie,
      alt: "Selfie of Karly and JT in San Luis Obispo.",
      caption: "June 2025"
    },
    {
      src: firestone,
      alt: "View from Terrace Hill of Bishop's Peak and Madonna Mountain.",
      caption: "Firestone Walker Brewery Tour"
    },
    {
      src: jtTerraceHill,
      alt: "JT at Terrace Hill.",
      caption: "Terrace Hill"
    },
    {
      src: karlyMorro,
      alt: "Karly at Morro Bay.",
      caption: "Morro Rock"
    },
    {
      src: bobJones,
      alt: "View of Bob Jones Trail.",
      caption: "Bob Jones Trail"
    },
    {
      src: karlyBobJones,
      alt: "Karly at Bob Jones Trail.",
      caption: "Bob Jones Trail"
    },
  ],
  },
  {
    question: "What should I wear?",
    answer: [
      "We kindly ask guests to dress in semi-formal attire.",
      "Cocktail attire, dressy separates, or suits in any color are all perfect choices. Our goal is for everyone to feel comfortable and have fun, but we do ask that you skip jeans and casual wear for the occasion.",
      "Think elevated looks that make you feel confident and ready to celebrate. No need to worry about overdressing or stealing the spotlight—the bride won't get upset!",
      "There will also be a coat rack available, so you can settle in and enjoy the celebration."
    ]
  },
  {
    question: "Can I bring a plus one?",
    answer: [
      "If you were told when you received an invitation, then yes!",
      "If not, please understand that we are limited on space and cannot accommodate additional guests.",
    ]
  },
  {
    question: "Can I bring my kids?",
    answer: [
      "We love your kiddos, but we've decided to make our wedding an adults-only event. We hope you understand and can still celebrate with us!"
    ]
  },
  {
    question: "What's the best way to get to San Luis Obispo?",
    answer: [
      "The closest airport is <a href='https://sloairport.com/destinations/' target='_blank'>San Luis Obispo County Regional Airport (SBP)</a>, which is about 5 miles from downtown.",
      "Popular destinations with direct flights include San Francisco (SFO), Denver (DEN), Los Angeles (LAX), Portland (PDX), Phoenix (PHX), and Seattle (SEA).",
      "If you're coming from Southern California, the <a href='https://www.pacificsurfliner.com/' target='_blank'>Amtrak Pacific Surfliner</a> offers a scenic route along the coast."
    ]
  },
  {
    question: "Where is there to stay?",
    answer: [
      "There are plenty of hotels and accommodations in San Luis Obispo, including <a href='https://www.google.com/maps/search/Hotels+near+The+Monday+Club/@35.2884603,-120.6537215,17z/data=!3m1!4b1!4m7!2m6!3m5!2sThe+Monday+Club!3s0x80ecf109b460370f:0x73db3282120a17cd!4m2!1d-120.6512892!2d35.288485?entry=ttu&g_ep=EgoyMDI1MTAwMS4wIKXMDSoASAFQAw%3D%3D' target='_blank'>several hotels within walking distance</a> of The Monday Club.",
      `While we don't have a reserved block of rooms for the wedding, both <a href='https://maps.app.goo.gl/UGs24YwUpzU7k9WP6' target='_blank'>The Wayfarer by Hilton</a> and the <a href='https://maps.app.goo.gl/qVB6DJB1fDCSQAgc8' target='_blank'>La Quinta Inn & Suites</a> are offering discounts on their Best Available Rates for anyone in our wedding party, subject to availability.`,
      `The Wayfarer is offering a 20% discount when booking through <a href="https://www.hilton.com/en/book/reservation/deeplink/?ctyhocn=OAKERUP&arrivaldate=2025-12-05&departuredate=2025-12-07&srpCodes=P7" target="_blank">this link</a>. This rate is available up to 14 days prior to arrival.`,
      `The La Quinta Inn & Suite is offering a 10% discount, available up to and including the day of the reception. You can book using <a href='http://www.wyndhamhotels.com/hotels/53724?corporate_id=1000046012' target='_blank'>this link</a> or by mentioning the “10% Wedding Discount” for the “Karly Hoffman & JT de la Torre Wedding” by phone.`
    ]
  },
  {
    question: "Is there going to be karaoke/karlyoke?",
    answer: [
      "While we (Karly) love(s) karaoke, we've decided to skip it for the reception. We want everyone to feel comfortable and enjoy the evening without any pressure to perform!",
    ]
  },
  {
    question: "What else is there to do in San Luis Obispo?",
    answer: [
      "<strong>JT and Karly have put together a list of some of their favorite things to do in the area, in case you have some extra time to explore:</strong>",
      "The <a href='https://maps.app.goo.gl/YpBuMpTHo2y7H5pm7' target='_blank'>bluff-front trail</a> along Montaña de Oro State Park is an easy walk and the views are incredible!",
      "Walk along the <a href='https://maps.app.goo.gl/kKesoRzWhWE6fPcg9' target='_blank'>Morro Bay</a> waterfront and grab fresh grilled fish tacos at <a href='https://maps.app.goo.gl/zj4GpvuQkShj3dfd7' target='_blank'>Taco Temple</a>.<br>(<em>warning: the portions are MASSIVE.</em>)",
      "Since San Luis Obispo is so close to <a href='https://maps.app.goo.gl/VcDLNi3ifQfL9y3k6' target='_blank'>Paso Robles</a>, it would be slightly embarrassing if you didn't go wine tasting in wine-county of the Central Coast—tour at least two different wineries while you're there.",
      "If beer is more your speed, <a href='https://maps.app.goo.gl/5BZAXH6dprtGzv2T8' target='_blank'>Firestone Brewing</a> in Paso Robles offers walking tours and a great taproom to hang out in afterwards. If you're staying in SLO, there's also a great German selection at <a href='https://maps.app.goo.gl/tYFnipSdWGhfTjiF7' target='_blank'>Beda's Biergarten</a>'s low-key patio.",
      "Explore the charming seaside shops and coastal views of <a href='https://maps.app.goo.gl/M1odvB4SpC1d3Xzu5' target='_blank'>Avila Beach</a>. It's a great spot to relax and enjoy some fresh seafood.",
      "A drive up HWY 101 for the coastal views—you only need to go as far as San Simeon (might as well stop by <a href='https://maps.app.goo.gl/rmbgFQ6fPWcorY1r7' target='_blank'>Hearst Castle</a> there and see if you can spot any zebras!).",
      `Grab a record at <a href="https://booboorecords.com" target="_blank">Boo Boo Records</a> and say hello to the crew working behind the counter.`,
    ]
  }
];
---

<section id="faqs" class="faqs gutter">
  <h2 class="headline">FAQS</h2>
  {faqs.map(faq => (
    <details class="border-b font-base">
      <summary>
        <span class="caret" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/></svg>
        </span>
        <h3>{faq.question}</h3>
      </summary>
      <div class="container">
        <div class="answer">
          {faq.answer.map(paragraph => {
            if (paragraph.includes('Boo Boo')) {
              return (
                <div class="img-wrapper-inline-photo">
                  <p set:html={paragraph}></p>
                  <figure>
                    <Image
                      src={jtBooBooRecordsYoung}
                      widths={[240, 540, 720, jtBooBooRecordsYoung.width]}
                      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${jtBooBooRecordsYoung.width}px`}
                      alt="JT at Boo Boo's"
                    />
                    <figcaption>
                      JT in <a href="http://recordstoresbook.com/the-book/" target="_blank"><em>Record Stores</em></a> by Bernd Jonkmanns
                    </figcaption>
                  </figure>
                </div>
              );
            }

            return <p set:html={paragraph}></p>;
          })}
        </div>
        {!!faq.images?.length && (
          <div class="img-wrapper">
            {faq.images.map(({ src, alt, caption }, index) => (
              <figure class={index > 6 ? 'desktop-only' : ''}>
                <Image
                  src={src}
                  alt={alt}
                  widths={[240, 540, 720, src.width]}
                  sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${src.width}px`}
                />
                {caption && <figcaption>{caption}</figcaption>}
              </figure>
            ))}
          </div>
        )}
      </div>
    </details>
  ))}
</section>