---
import { Image } from 'astro:assets';
import novo from '../assets/novo.avif';
import '../styles/components/reception.scss';

const copy = [
  {
    title: "Reception Details",
    date: "Saturday, December 6th, 2025",
    time: "4 p.m. to 10 p.m.",
    location: {
      name: "The Monday Club",
      link: "https://themondayclubslo.org/OUR-HISTORY",
      address: "1815 Monterey St, San Luis Obispo, CA 93401",
      googleMapsLink: "https://maps.app.goo.gl/UiYcjzpGSdGuhrSt8"
    },
    content: [
      "The reception will begin at 4 o'clock with a cocktail hour on the patio overlooking the San Luis Obispo hills, during which the newlywed couple will have the chance to greet all the guests.",
      "As the sun sets over the mountains, the reception will move indoors for dinner catered by <a href='https://www.eatpetra.com/' target='_blank'>Petra</a>, a local favorite.",
      "[Something about there will be many activities throughout the evening]"
    ]
  },
  {
    title: "After Party",
    time: "10 p.m.",
    location: {
      name: "Novo",
      address: '726 Higuera St, San Luis Obispo, CA 93401',
      link: "https://www.novorestaurant.com/contact-us",
      googleMapsLink: 'https://maps.app.goo.gl/3XtazvppEB4nbFur6'
    },
    content: [
      "Since everyone will <strong>need to leave the venue promptly by 10 o'clock</strong>, there will be a shuttle service available to take guests a mile down the street to downtown San Luis Obispo where the celebration will continue at Novo (and/or possibly McCarthy's)."
    ],
    images: [
      {
        src: novo,
        alt: "Karly and JT dancing at Novo.",
        caption: "The couple had their first interaction outside of Boo Boo Records at Novo. Credit: Meghan"
      }
    ]
  },
  {
    title: "Picnic Brunch",
    date: "Sunday, December 7th, 2025",
    time: "10 a.m.",
    location: {
      name: "Terrace Hill",
      address: "Terrace Hill, San Luis Obispo, CA 93401",
      link: "https://maps.app.goo.gl/CHXmTsZtzanqrfoM6",
      googleMapsLink: "https://maps.app.goo.gl/c2sbSw7W5ndc9XoV6",
    },
    content: [
      "[something about saying goodbye to everyone before leaving if they can]",
      `*Please note: In order to get up to Terrace Hill, it's a bit of a steep walk on a dirt trail. But, it's absolutely worth the short hike. If you can stop by, be sure to wear appropriate shoes, and join us for some beers and <a href="https://www.highstdeli.com/high-st-menus/" target="_blank">High Street Sandwiches</a><br/>(Karly's favorite is the Mother Nature Veg with turkey added).`,
      "[photos taken from the last trip]"
    ],
    images: []
  },
]
---

{copy.map(({ title, date, time, location, content, images }) => (
  <section class="reception-details gutter">
    <h2 class="headline">{title}</h2>
    {date && (
      <p class="location-time border-b script">{date}</p>
    )}
    <p class="location-time location-time--sm border-b serif">
      <a href={location.googleMapsLink} target="_blank">
        {location.address}
      </a>
    </p>
    <p class="location-time border-b serif">
      <a href={location.link} target="_blank">{location.name}</a> | {time}
    </p>
    <div class="text-container font-base">
      {content.map((paragraph) => (
        <p set:html={paragraph}></p>
      ))}
      {images?.map(({ src, alt, caption }) => (
        <figure>
          <Image src={src} alt={alt} />
          <figcaption>{caption}</figcaption>
        </figure>
      ))}
      <button>Add to Calendar</button>
    </div>
  </section>
))}