---
import { Image } from 'astro:assets';
import jtTerraceHill from '../assets/jt-terrace-hill.avif';
import karlyTerraceHill from '../assets/terrace-hill-karly.avif';
import terraceHill from '../assets/terrace-hill-sunset.avif';
import novo from '../assets/novo.avif';

import '../styles/components/reception.scss';

const copy = [
  {
    id: 'details',
    title: "Reception Details",
    date: "Saturday, December 6th, 2025",
    time: "4 p.m. to 10 p.m.",
    location: {
      name: "The Monday Club",
      link: "https://themondayclubslo.org/OUR-HISTORY",
      address: {
        street: "1815 Monterey St",
        cityState: "San Luis Obispo, CA 93401"
      },
      googleMapsLink: "https://maps.app.goo.gl/UiYcjzpGSdGuhrSt8"
    },
    content: [
      "The reception will begin at 4 o'clock with a cocktail hour on the patio overlooking the San Luis Obispo hills, during which the newlywed couple will have the chance to greet all the guests.",
      "The reception will move indoors as the sun sets for dinner catered by <a href='https://www.eatpetra.com/' target='_blank'>Petra</a>, a local favorite.",
      "After dinner, the party will continue with dancing and drinks. 🥂"
    ]
  },
  {
    title: "After Party",
    time: "10 p.m.",
    location: {
      name: "McCarthy's Irish Pub",
      address: {
        street: "600 Marsh St",
        cityState: "San Luis Obispo, CA 93401"
      },
      link: 'https://maps.app.goo.gl/bYkXYMRoBZpfJLqA6',
      googleMapsLink: 'https://maps.app.goo.gl/bYkXYMRoBZpfJLqA6'
    },
    content: [
      "Since everyone will <strong>need to leave The Monday Club promptly by 10 o'clock</strong>, there will be a shuttle service available to take guests a mile down the street to downtown San Luis Obispo where the celebration will continue at McCarthy's Irish Pub.",
      "(The couple originally wanted to go to Novo, where they first met outside of Boo Boo Record's, but unfortunately, they no longer offer dancing at night. 😭)"
    ],
    images: [
      {
        src: novo,
        alt: "Karly and JT dancing at Novo.",
        caption: "Credit: Meghan"
      }
    ]
  },
  {
    title: "Picnic Brunch",
    date: "Sunday, December 7th, 2025",
    time: "10 a.m.",
    location: {
      name: "Terrace Hill",
      address: {
        street: "Terrace Hill",
        cityState: "San Luis Obispo, CA 93401"
      },
      link: "https://maps.app.goo.gl/CHXmTsZtzanqrfoM6",
      googleMapsLink: "https://maps.app.goo.gl/8NCMxe1zYdVvd1j88",
    },
    content: [
      "Join us for a picnic brunch at Terrace Hill, where you'll have the chance to say goodbye to everyone before they head home.",
      `<strong>*Please note:</strong> To get up to Terrace Hill, it's a bit of a steep walk on a short trail. But it's absolutely worth <a href="https://maps.app.goo.gl/8NCMxe1zYdVvd1j88" target="_blank">the very quick hike.</a> If you can stop by, be sure to wear appropriate shoes, and join us for some beers and <a href="https://www.highstdeli.com/high-st-menus/" target="_blank">High Street Deli</a> sandwiches.`,
    ],
    images: [
      {
        src: terraceHill,
        alt: 'View of San Luis Obispo from Terrace Hill.',
        caption: null,
      },
      {
        src: karlyTerraceHill,
        alt: 'Karly with a beautiful views of Terrace Hill in the background.',
        caption: null,
      },
      {
        src: jtTerraceHill,
        alt: 'JT at Terrace Hill.',
        caption: '<p>Views from Terrace Hill.</p>'
      }
    ]
  },
]
---

{copy.map(({ id, title, date, time, location, content, images }) => (
  <section id={id} class="reception-details gutter">
    <h2 class="headline">{title}</h2>
    {date && (
      <p class="location-time border-b script">{date}</p>
    )}
    <p class="location-time location-time--sm border-b serif">
      <a class="no-underline" href={location.googleMapsLink} target="_blank">
        {location.address.street}<span>, </span>{location.address.cityState}
      </a>
    </p>
    <p class="location-time border-b serif">
      <a href={location.link} target="_blank">{location.name}</a> | {time}
    </p>
    <div class="text-container font-base">
      {content.map((paragraph) => (
        <p set:html={paragraph}></p>
      ))}
      {!!images?.length && (
        <div class={title === 'Picnic Brunch'
          ? "img-wrapper img-wrapper--brunch"
          : "img-wrapper"
        }>
          {images.map(({ src, alt, caption }) => (
            <figure>
              <Image
                class="reveal"
                src={src}
                alt={alt}
                widths={[240, 540, 720, src.width]}
                sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${src.width}px`}
              />
              <figcaption set:html={caption}></figcaption>
            </figure>
          ))}
        </div>
      )}
    </div>
  </section>
))}